@model MikMak2016.App_Data.DAL.ArticleType

@{
    ViewBag.Title = "Details";
}

<h2>Types d'article</h2>

<div class="form-horizontal">
    <h4>Détails d'un type d'article</h4>
    <hr />

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.Code)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Code)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.InsertedBy)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.InsertedBy)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.InsertedOn)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.InsertedOn)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.UpdatedBy)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.UpdatedOn)
        </div>
    </div>

    <hr class="col-md-11 text-center" />

    <div class="form-group">
        <div class="col-md-11 text-center">
            <input class="btn-warning" type="button" onclick="location.href='@Url.Action("Edit", "ArticleType", new { id = Model.Id })'" value="Editer" />
        </div>
    </div>
</div>

<div class="returnlink">
    @Html.ActionLink("Retourner à la liste des types d'articles", "Index")
</div>
