@model IEnumerable<MikMak2016.App_Data.DAL.ArticleType>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des types d'article</h2>

<button>@Html.ActionLink("Page d'accueil", "Index", "Home")</button>
<button>@Html.ActionLink("Créer nouvel type d'article", "Create")</button>
<button>@Html.ActionLink("Liste des types d'article en PDF", "GeneratePDF", "PDF", new { path = "ArticleType" }, null)</button>

<p>
    @using (Html.BeginForm("Index", "ArticleType", FormMethod.Get))
    {
        <b>Search by:</b> @Html.RadioButton("searchBy", "Code", true) <text> Code</text>
        @Html.RadioButton("searchBy", "Name") <text>Name</text><br />
        @Html.TextBox("search") <input type="submit" value="search" />
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <button>@Html.ActionLink("Editer", "Edit", new { id = item.Id })</button>
            <button>@Html.ActionLink("Details", "Details", new { id = item.Id }) </button>
            <button>@Html.ActionLink("Supprimer", "Delete", new { id = item.Id })</button>
        </td>
    </tr>
}

</table>
