@model IEnumerable<MikMak2016.App_Data.DAL.ProductArticle>

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProductArticle</h4>
    
  
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.IdProduct)</th>
            <th>@Html.DisplayNameFor(model => model.IdArticle)</th>
            <th>@Html.DisplayNameFor(model => model.Article.Number)</th>
            <th>@Html.DisplayNameFor(model => model.Article.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Quantity)</th>        
            <th>@Html.DisplayNameFor(model => model.InsertedBy)</th>
            <th>@Html.DisplayNameFor(model => model.InsertedOn)</th>
            <th>@Html.DisplayNameFor(model => model.UpdatedBy)</th>
            <th>@Html.DisplayNameFor(model => model.UpdatedOn)</th>        
         </tr>

        @foreach (var item in Model)
        {
            <tr>
               <td>
                    @Html.DisplayFor(model => item.IdProduct)
                </td>
                <td>
                    @Html.DisplayFor(model => item.IdArticle)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Article.Number)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Article.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(model => item.InsertedBy)
                </td>
                <td>
                    @Html.DisplayFor(model => item.InsertedOn)
                </td>
                <td>
                    @Html.DisplayFor(model => item.UpdatedBy)
                </td>
                <td>
                    @Html.DisplayFor(model => item.UpdatedOn)
                </td>
            </tr>
        }
    </table>
    @using (Html.BeginForm("DeleteConfirmed", "ProductArticle", new { id = @ViewBag.Id}))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
