@model IEnumerable<MikMak2016.App_Data.DAL.ProductArticle>
@{
    ViewBag.Title = "Details";
    string endtotal = null;
    double subtotal = 0;
    double tmptotal = 0;
    List<MikMak2016.App_Data.DAL.ArticleType> AT = ViewBag.IdType;
}


<h2>Details</h2>
<div>
    <h4>Nom du produit: @ViewBag.NameNrProd</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsertedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsertedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedOn)
            </th>
            <th>
                Prix
            </th>
        </tr>

        @foreach (var type in AT)
        {
            bool flagType = true;
            bool flagTot = false;
            subtotal = 0;
            foreach (var item in Model)
            {
                if (item.Article.IdArticleType == type.Id)
                {
                    if (flagType == true)
                    {
                        <tr style="border-bottom:1pt solid black;"></tr>
                        <tr style="font-weight: bold">
                            <td colspan="9"> Type: @type.Name</td>
                        </tr>
                        flagTot = true;
                    }
                    flagType = false;

                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Article.Number)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Article.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Article.UnitPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.InsertedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.InsertedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.UpdatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.UpdatedOn)
                        </td>

                        @{
                    string total = null;
                    double result;
                    string quantity = (@item.Quantity).Trim();
                    quantity = quantity.Replace(".", ",");
                    string unitprice = (@item.Article.UnitPrice).Trim();
                    unitprice = unitprice.Replace(".", ",");
                    double q = 0;
                    double up = 0;
                    Double.TryParse(quantity, out result);
                    if (result > 0) { q = Convert.ToDouble(quantity); }
                    else { total = total + "The quantity is not a value."; };
                    Double.TryParse(unitprice, out result);
                    if (result > 0) { up = Convert.ToDouble(unitprice); }
                    else { total = total + "The unit price is not a value."; };

                    if (String.IsNullOrEmpty(total))
                    {
                        total = (q * up).ToString("#,##0.00");
                        subtotal = subtotal + (q * up);
                        tmptotal = tmptotal + (q * up);
                        endtotal = tmptotal.ToString("#,##0.00");
                    }
                        }
                        <td>
                            @total
                        </td>
                    </tr>
                }
            }
            if (flagTot == true)
            {
                <tr style="border-bottom:1pt solid black;"></tr>
                <tr style="font-weight: bold">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Subtotal</td>
                    <td>
                        @subtotal.ToString("#,##0.00")
                    </td>
                </tr>
                flagTot = false;
            }
        }

        <tr style="border-bottom:1pt solid black;"></tr>
        <tr style="font-weight: bold">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Grand total</td>
            <td>@endtotal</td>
        </tr>

    </table>
</div>

<div class="returnlink">
    @Html.ActionLink("Retourner à la liste d'articles", "Index")
</div>