@model IEnumerable<MikMak2016.App_Data.DAL.UnitBase>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des unités de bases</h2>

<input class="" type="button" onclick="location.href='@Url.Action("IndexUser", "Home")'" value="Page d'accueil" />
<input class="" type="button" onclick="location.href='@Url.Action("GeneratePDF", "PDF", new { path = "UnitBase" }, null)'" value="Liste des unités de base en PDF">

<p>
    @using (Html.BeginForm("Index", "UnitBaseUser", FormMethod.Get))
    {
        <b>Search by:</b> @Html.RadioButton("searchBy", "Code", true) <text> Code</text>
        @Html.RadioButton("searchBy", "Name") <text>Name</text><br />
        @Html.TextBox("search") <input type="submit" value="search" />
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Code", "Index", new { sortBy = ViewBag.SortNumberParameter, searchBy = Request.QueryString["searchBy"], search = Request["search"] })
        </th>
        <th>
            @Html.ActionLink("Name", "Index", new { sortBy = ViewBag.SortNameParameter, searchBy = Request.QueryString["searchBy"], search = Request["search"] })
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <input class="btn-primary" type="button" onclick="location.href='@Url.Action("Details", "UnitBaseUser", new { id = item.Id })'" value="Détail" />
            </td>
        </tr>
    }

</table>
<div class="text-danger">
    @ViewBag.systeem
</div>