@model IEnumerable<MikMak2016.App_Data.DAL.UnitBase>

@{
    ViewBag.Title = "Résumé Unité de Base";
}

<h2>Résumé Unité de Base</h2>
<h4>sur @ViewBag.Date</h4>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsertedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsertedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </th>
        <th></th>
    </tr>


    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="5">There are no items found !</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsertedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsertedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedOn)
                </td>
            </tr>
        }
    }
</table>
