@model MikMak2016.App_Data.DAL.UnitBase

@{
    ViewBag.Title = "Delete";
}

<h2>Unités de base</h2>

<div class="form-horizontal">
    <h4>Supprimer une unité de base</h4>
    <hr />

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.Code)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Code)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.InsertedBy)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.InsertedBy)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.InsertedOn)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.InsertedOn)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.UpdatedBy)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.UpdatedOn)
        </div>

        <hr class="col-md-11 text-center" />
        <p class="col-md-11 text-center">Veuillez confirmer la suppression. Cette action est irréversible!</p>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <div class="form-group">
                    <div class="col-md-11 text-center">
                        <input type="submit" value="Confirmer" class="btn btn-danger" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="returnlink">
    @Html.ActionLink("Retourner à la liste des unité de base", "Index")
</div>