@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mik Mak 2016</h1>
   
</div>

@*<div class="row">
    <center>
        <button type="button" onclick="window.location(href='@Url.Action("Index", "Article")')">
            Article
        </button>
        <button type="button" onclick="window.location(href='@Url.Action("Index", "ArticleType")')">
            Type d'article
        </button>
        <button type="button" onclick="window.location(href='@Url.Action("Index", "UnitBase")')">
            Unité de base
        </button>
        <button type="button" onclick="window.location(href='@Url.Action("Index", "Supplier")')">
            Fournisseur
        </button>
        <button type="button" onclick="window.location(href='@Url.Action("Index", "ProductArticle")')">
            ProductArticle
        </button>
    </center>
</div>*@

<div class="row">
    <center>
        <button type="button" onclick="location.href='@Url.Action("Index", "ArticleUser")'">
            Articles
            @*<img alt="New" title="New" src="~/Images/Button/plus.png">*@
        </button>
        <button type="button" onclick="location.href='@Url.Action("Index", "ArticleTypeUser")'">
            Types d'article
        </button>
        <button type="button" onclick="location.href='@Url.Action("Index", "UnitBaseUser")'">
            Unités de base
        </button>
        <button type="button" onclick="location.href='@Url.Action("Index", "SupplierUser")'">
            Fournisseurs
        </button>
        @*<button type="button" onclick="location.href='@Url.Action("Index", "ProductArticle")'">
            Produits
        </button>*@
    </center>
</div>