@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>
            Mik Mak 2016
        </h1>
        <h2>
            Page d'acceuil
        </h2>
    </center>
</div>

<div class="row">
    <center>
        <button type="button" onclick="location.href='@Url.Action("Index", "Article")'">
            Articles
        </button>
        <button type="button" onclick="location.href='@Url.Action("Index", "ArticleType")'">
            Types d'article
        </button>
        <button type="button" onclick="location.href='@Url.Action("Index", "UnitBase")'">
            Unités de base
        </button>
        <button type="button" onclick="location.href='@Url.Action("Index", "Supplier")'">
            Fournisseurs
        </button>
        <button type="button" onclick="location.href='@Url.Action("Index", "ProductArticle")'">
            Composer des Produits
        </button>
    </center>
</div>

<div class="footer">
    <center>
        <p>
            Webdesign © 2016 MikMak Application -- All rights reserved.
        </p>
    </center>
</div>