@model MikMak2016.Models.User
@{
    //ViewBag.Title = "Login";
}

<h2>Connexion</h2>
@using (Html.BeginForm())
{
    <div class="log-in">
        <div class="title">@Html.LabelFor(Model => Model.Login)</div>
        <hr />
        <div>@Html.LabelFor(Model => Model.Name)</div>
        <div>@Html.TextBox("name") </div>
        <div>@Html.LabelFor(Model => Model.Password)</div>
        <div>@Html.PasswordFor(model => model.Password)</div>
        <hr />
        <div class="btn-log-in">
            <center>
                <input class="btn-block" type="submit" value="Confirmer" />
            </center>
        </div>
    </div>
}