@model IEnumerable<MikMak2016.App_Data.DAL.ArticleType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@Html.ActionLink("Page d'accueil", "IndexUser", "Home")</p>
<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<p>
    @Html.ActionLink("Résumé Pdf", "GeneratePDF", "PDF", new { path = "ArticleType" }, null)
</p>
<p>
    @using (Html.BeginForm("Index", "ArticleTypeUser", FormMethod.Get))
    {
        <b>Search by:</b> @Html.RadioButton("searchBy", "Code", true) <text> Code</text>
        @Html.RadioButton("searchBy", "Name") <text>Name</text><br />
        @Html.TextBox("search") <input type="submit" value="search" />
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
        </tr>
    }

</table>
