@model MikMak2016.App_Data.DAL.Article

@{
    ViewBag.Title = "Details";
}

<h2>Articles</h2>

<div class="form-horizontal">
    <h4>Détails d'un article</h4>
    <hr />

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.Number)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Number)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.StandardCost)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.StandardCost)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.Breadth)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Breadth)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.GrossWeight)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.GrossWeight)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.RestockingTerm)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.RestockingTerm)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.UnitPrice)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.Image)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Image)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.InsertedBy)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.InsertedBy)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.InsertedOn)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.InsertedOn)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.UpdatedBy)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.UpdatedOn)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
             @Html.DisplayNameFor(model => model.ArticleType.Code) Type d'article
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.ArticleType.Code)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
             @Html.DisplayNameFor(model => model.Supplier.Code) Fournisseur
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Supplier.Code)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            @Html.DisplayNameFor(model => model.UnitBase.Code) Unité de base
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.UnitBase.Code)
        </div>
    </div>

    <hr class="col-md-11 text-center" />

    <div class="form-group">
        <div class="col-md-11 text-center">
            <input class="btn-warning" type="button" onclick="location.href='@Url.Action("Edit", "Article", new { id = Model.Id })'" value="Editer" />            
        </div>
    </div>
</div>

<div class="returnlink">
    @Html.ActionLink("Retourner à la liste d'articles", "Index")
</div>

