@using PagedList;
@using PagedList.Mvc;

@*model moet ipagedlist ipv ienumerable zijn want dat is wat er wordt teruggegeven*@
@model IPagedList<MikMak2016.App_Data.DAL.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Liste d'articles</h2>

<input class="" type="button" onclick="location.href='@Url.Action("Index", "Home")'" value="Page d'accueil"/>
<input class="" type="button" onclick="location.href='@Url.Action("Create", "Article")'" value="Créer nouvel article">
<input class="" type="button" onclick="location.href='@Url.Action("GeneratePDF", "PDF", new { path = "Article" }, null)'" value="Liste des articles en PDF">

<p>
    @using (Html.BeginForm("Index", "Article", FormMethod.Get))
    {
        <b>Search by:</b> @Html.RadioButton("searchBy", "Number", true) <text> Number</text>
        @Html.RadioButton("searchBy", "Name") <text>Name</text><br />
        @Html.TextBox("search") <input type="submit" value="search" />
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Number", "Index", new { sortBy = ViewBag.SortNumberParameter, searchBy = Request.QueryString["searchBy"], search = Request["search"] })
        </th>
        <th>
            @Html.ActionLink("Name", "Index", new { sortBy = ViewBag.SortNameParameter, searchBy = Request.QueryString["searchBy"], search = Request["search"] })
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <input class="btn-warning" type="button" onclick="location.href='@Url.Action("Edit", "Article", new { id = item.Id })'" value="Editer" />
                <input class="btn-primary" type="button" onclick="location.href='@Url.Action("Details", "Article", new { id = item.Id })'" value="Détail"/>
                <input class="btn-danger" type="button" onclick="location.href='@Url.Action("Delete", "Article", new { id = item.Id })'" value="Supprimer"/>
            </td>
        </tr>
    }
</table>

<div class="text-danger">
    @ViewBag.systeem
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded }
)
@*Request.Querystring zorgt ervoor dat de search(by) query in url behouden blijft als je andere pagina selecteert*@